@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

.container {
  width: 100%;
  height: 100vh;
  background-color: #f7beef;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  font-family: "DotGothic16";
  color: #d669aa;
}
