@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

.container {
  background-color: #fbfeda;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  text-align: center;
  
  font-family: "DotGothic16";
  color: #a31c5d;
  font-size: 100px;
}

/*@media screen and (max-width: 500px) {
  .container {
    font-size: 20vw;
  }
}*/
