@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

.container {
  width: 100%;
  height: 100vh;
  background-color: #15151e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.time {
  font-family: "DotGothic16";
  color: #d669aa;
  text-shadow: 0 0 20px #f7beef;
  line-height: 1.2;
  font-size: 100px;
  text-align: center;
}
